*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body, html, #root{
width: 100%;
min-height: 100vh;
  margin: 0;
   padding: 0;
overflow-x: hidden;
padding-top: 26px;
}
.container{
  width: 100%;
  margin: 0;
  padding: 0;
}
.btn{
  background-color: darkgreen;
  color: black;
}
.btn:hover{
  background-color: rgb(10, 122, 10);
  color: thistle;

}
.box{
  width: 300px;
  padding: 20px;
  padding: 4px sold #ddd;
  border-radius: 10px;
 background-color: #fff;
 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
 cursor: pointer;
}
.box:hover{
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
  transition: all 0.3s ease;
}


